AussieTown.Test/obj/
.vs/
temp/
AussieTowns/logs/
FunWithLocal.WebApi/bin/
FunWithLocal.WebApi/obj/
FunWithLocal.WebApi/Properties/
logs/
ReleaseCandidate/
FunWithLocal.WebApi/privatekey.pem
FunWithLocal.WebApi.Test/bin/
FunWithLocal.WebApi.Test/obj/
AussieTown.VueClient/coverage/clover.xml
AussieTown.VueClient/coverage/
