<a>
    <div class="outside_box" draggable="true" (dragstart)="onStart($event)" (dragend)="onDragend($event)">
        <p>{{ suburbFullName }}</p>
        <p>{{ data.postcode }}</p>

        <p (click)="addToItinerary()">Add to Itinerary</p>
        <p (click) ="moreDetail()">See more</p>
        <div class="inside_box" [class.setmaxheight]="isClassVisible">
            <p> - by Refsnes Data. </p>
            <p>All Rights Reserved.</p>
            <p>All content and graphics</p>
            <p>on this web site are the property</p>
            <p>of the company Refsnes Data.</p>
            <p> - by Refsnes Data. </p>
            <p>All Rights Reserved.</p>
            <p>All content and graphics</p>
            <p>on this web site are the property</p>
            <p>of the company Refsnes Data.</p>
            <p> - by Refsnes Data. </p>
            <p>All Rights Reserved.</p>
            <p>All content and graphics</p>
            <p>on this web site are the property</p>
            <p>of the company Refsnes Data.</p>
        </div>
    </div>


    <!--<details class="details4" [ngClass]="{'open': isClassVisible }">
        <summary>See More</summary>

        <section>
            <p> - by Refsnes Data. </p>
            <p>All Rights Reserved.</p>
            <p>All content and graphics</p>
            <p>on this web site are the property</p>
            <p>of the company Refsnes Data.</p>
        </section>

    </details>-->
</a>