.mtl_button--outline {
    background-color: transparent;
    color: $c-brand-primary;
    box-shadow: 0 0 0 1px $c-brand-primary, 0 0 0 1px $c-brand-primary;
}

.mtl_button {
    @include button-bg($c-brand-primary);
    @include button-round-border-all;
    min-width: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.mtl_button-round-left {
    @include button-bg($c-brand-primary);
    @include button-round-border-left;
}

.mtl_button-round-right {
    @include button-bg($c-brand-primary);
    @include button-round-border-right;
}

.mtl_button-no-round {
    @include button-bg($c-brand-primary);
}

.mtl-btn-large {
    height: 52px;
    font-size: 20px;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.absolute-center {
    @include absolutecenter;
}

.absolute-center-y {
    @include absolutecenter("y");
}

.absolute-center-x {
    @include absolutecenter("x");
}

.relative-center-y {
    @include absolutecenter("y","relative");
}

.relative-center-x {
    @include absolutecenter("x","relative");
}

.checkbox {
    margin-top: 6px;
    margin-right: 6px;
}

a {
    cursor: pointer;
}

html,
body{
    background-color: $c-lightgrey-lightest;
}

html,
body,
#app {
  height: 100%; /* needed for proper layout */
}

#app {
  //display: flex;
  flex-direction: column;
}

.page-content {
    width: 100%;
    top: $size-header-height;
    margin-bottom: $size-header-height !important;
    margin-left: auto;
    margin-right: auto;

    @media all and (min-width: $is-mobile) {
        top: 0;
        width:80%;
        max-width: $is-maxscreen;
    }
}

.is-sticky-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
    >button{
        height: 2rem;
    }

    @media all and (min-width: $is-mobile) {
        position:relative;
    }
}

.is-circle {
    border-radius: 50%;
}