.mtl_button_base {
    @include button-bg($c-brand-primary);
    /*min-width: 80px;*/
    margin-left: 5px;
    margin-right: 5px;
}

.mtl_button {
    @extend .mtl_button_base;
    @include button-round-border-all;
}

.mtl_button-round-left {
    @extend .mtl_button_base;
    @include button-round-border-left;
}

.mtl_button-round-right {
    @extend .mtl_button_base;
    @include button-round-border-right;
}

.mtl_button-no-round {
    @extend .mtl_button_base;
}

.mtl-btn-large {
    height: 52px;
    font-size: 20px;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.absolute-center {
    @include absolutecenter;
}

.absolute-center-y {
    @include absolutecenter("y");
}

.absolute-center-x {
    @include absolutecenter("x");
}

.relative-center-y {
    @include absolutecenter("y","relative");
}

.relative-center-x {
    @include absolutecenter("x","relative");
}

.checkbox {
    margin-top: 6px;
    margin-right: 6px;
}

a {
    cursor: pointer;
}

html,
body{
    background-color: $c-lightgrey-lightest;
}

html,
body,
#app {
  height: 100%; /* needed for proper layout */
}

#app {
  //display: flex;
  flex-direction: column;
}