// responsive breakpoints
$bp-xxlarge-min-width: 120.0625em; // 1920
$bp-xlarge-min-width:  100em; 		 // 1600
$bp-large-max-width:   90em; 	     // 1440px
$bp-large-min-width:   90.0625em;  // 1441px
$bp-medium-max-width:  64em;       // 1024px
$bp-medium-min-width:  64.0625em;  // 1025px
$bp-small-max-width:   46em;       // 736px
$bp-small-min-width:   46.0625em;  // 737px
$bp-x-small-max-width:   28.6875em;  // 459px
$bp-x-small-min-width:   28.75em;  // 460px

$bp-ipad:       48em;  // 768px

// custom and extended breakpoints
$bp-custom-0: 51.56em;  // 825px
$bp-custom-1: 53.75em; // 860px
$bp-custom-2: 56.25em; // 900px
$bp-custom-3: 62.438em; // 999px breakpoint for when to hide property type on search bar search page
$bp-custom-4: 64.75em; // 1036px breakpoint to make search bar flexible on homepage
$bp-custom-5: 74.125em;
$bp-custom-5: 78.75em; // 1260px

// grid overrides - only use as last resort
@media all and (min-width: $bp-medium-min-width) {
	[class*="column"].go-large-full-width {
		width: 100%;
		left: 0;
	}
}


// Small = min-width - 46.063em / max-width - 46em (736px)
// Medium = min-width - 64.063em / max-width - 64em (1024px)
// Large = min-width - 90.063em / max-width - 90em
// X-Large = min-width - 120.063em / max-width - 120em


%wider-width {
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: $bp-large-max-width;
}

%wider-width__medium {
	@extend %wider-width;
	max-width: $bp-custom-5;
}

%full-width {
	@extend %wider-width;
    max-width: none;
}

.row.wider-width {
	@extend %wider-width;
}

.row.full-width {
	@extend %full-width;
}



%inset-block {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

%content-block {
  padding: 40px 0;
}

// flexbox
.flex {
	display: flex !important; //FIX: this is to override any specificity on the element and turn it into a flex container 
}

$size-header-height: 5em;