
<h1>Search color</h1>
<ng2-completer [(ngModel)]="searchStr" [dataService]="dataRemote2" [minSearchLength]="0" [autofocus]="true" 
               [placeholder]="'search suburb'" [textSearching]="'Please wait...'"></ng2-completer>

<div id="gmap"></div>

<!--<div style="width: 500px; height: 500px; background: green; opacity: 1; z-index: 999;" (dragover)="cancel($event)" (drop)="onDrop($event)">-->
    <itinerary></itinerary>

<!--</div>-->

<div id="content">
    <ul>
        <li *ngFor="let suburb of suburbs ">
            <suburbinfocard [data]="suburb" [map]="map"></suburbinfocard>
        </li>
    </ul>
</div>
