
.form-group { 
    input, select, textarea, tourparticipant {
        width: 70%;
        display: inline-block;
        vertical-align: middle;
    }

    label {
        display: inline-block;
        width: 25%;
        vertical-align: middle;
        margin: 0 0 -1px;
        padding: 10px 10px;
        font-weight: 600;
        text-align: right;
        color: $c-darkgrey-dark;
        border: 1px solid transparent;
    }
}

.hero-head {
    width: 100%;
    height: 70px;
}

.is-home {
    height: 0 !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .li-horizontal{
        display:inline;
    }
}

.g-signin-button, .fb-signin-button {
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: 2px;
    padding: 16px 0;
    text-align: center;
    width: 47%;
    font-weight: 600;
    margin-bottom: 20px;

    &:hover, &:focus {
        cursor: pointer;
        box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 0 8px 0 rgba(0,0,0,0.12);
    }

    @media all and (min-width: $is-tablet) {
        margin-bottom: 0;
    }
}

.fb-signin-button {
    color: white;
    background-color: #3D5A98;
    background-image: url(/static/images/facebook_logo.png);
    background-position: 10% 41%;
    float: left;
}

.g-signin-button {
    color: rgb(117, 117, 117);
    background-image: url(/static/images/google_logo.png);
    background-position: 13% 50%;
    
    float: right;
}