.autocomplete-wrapper {
    position:relative;
    height:2.25rem;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #CFD5DB;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    & > label {
        margin-left: 10px;
    }

    .search-box {
        /*width:100%;*/
        padding-left:10px;
        height:100%;
        border:0;
        flex-grow:1;
        /*@include input-border;
        border-right-width: 0;
        border-radius: 4px 0 0 4px;
        box-shadow: inset 1px 0px 1px 0px rgba(0, 0, 0, 0.075);
        border-right-width: 0;*/
        &:focus {
            outline:none;
        }
    }
}

.menu {
    min-width: 200px;
    padding: 5px 0;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25);
    position: absolute;
    background: #fff;
    overflow: auto;
    width: 100%;
    right:0;
    top:2.25rem;
    z-index: 10;

    .menu-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-list-item {
        font-size: 14px;
        color: #0c0c0c;
        padding: 6px 20px;

        &.selected {
            font-weight: bold;
            background-color: #f2f4f6;
        }

        &:hover {
            background: #f2f4f6;
            cursor: pointer;
        }
    }
}

.kpx-autocomplete-main  .col .menu {
width: 100%;
}

