.deleteButton {
    /*display: none;*/
    width: 30%;
    justify-content: center;
    margin-left:auto;
    @include fade-out-right;
}

.participant-summary {
    &:hover{
        cursor: pointer;

        .deleteButton {
           display: flex; /* On :hover of div show button */
           @include fade-in-left;
        }
    } 
}

summary:focus {
    outline: none;
}

summary::-webkit-details-marker {
  display: none
}

.booking-error {
    background-color: #8B0000;
    color: #fff;
}

.vue-form-wizard {
    .wizard-icon.icon {
        margin-top: 18px;
    }
}