.deleteButton {
    /*display: none;*/
    width: 30%;
    justify-content: center;
    margin-left:auto;
    @include fade-out-right;
}

.booking-error {
    background-color: #8B0000;
    color: #fff;
}

.vue-form-wizard {
    .wizard-icon.icon {
        margin-top: 18px;
    }
}

.booking-detail-panel {
    position: relative;
}

// From https://alligator.io/css/collapsible/?utm_campaign=Alligator.io&utm_medium=email&utm_source=Alligator.io_35
.wrap-collabsible {
  margin-bottom: 1.2rem 0;

  .list {
      position: relative;
  }

  .approveCheck {
        position: absolute;
        top: 11px;
        left: -2px;
        width: 2rem;
        height: 2rem;
  }
}

.toggle {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: $c-neutral-white;
  background: $c-darkgrey-light;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: $c-brand-primary;
  background: $c-neutral-white;
  box-shadow: 0 0 0 1px $c-brand-primary, 0 0 0 1px $c-brand-primary;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .5s ease;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 1000px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

/// End