/*ul{
    padding: 0;
    margin: 0;
    list-style: none;
}*/
.date-picker{
    position: relative;
    /*height: 32px;*/

    &.is-inline{
        .date-panel{
            position: relative;
            z-index: 10;
        }
    }
}
.input-wrapper{
    border: 1px solid #ccc;
    border-radius: 2px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    padding: 6px 10px 6px 4px;
    height: 32px;
    box-sizing: border-box;
}
.input-date{
    height: 100%;
    width: 100%;
    font-size: inherit;
    padding-left: 4px;
    box-sizing: border-box;
    outline: none;
}
.cancel-btn{
    height: 14px;
    width: 14px;
}
.date-panel{
    position: absolute;
    z-index: 50;
    border: 1px solid #eee;
    box-sizing: border-box;
    min-width: 320px;
    width: 100%;
    padding: 5px 10px 10px;
    box-sizing: border-box;
    background-color: #fff;
    transform: translateY(4px);
}
.panel-header{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.arrow-left, .arrow-right{
    flex: 1;
    font-size: 20px;
    line-height: 2;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.year-range{
    font-size: 20px;
    line-height: 2;
    flex: 3;
    display: flex;
    justify-content: center;
}
.year-month-box{
    flex: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.type-year, .type-month, .date-list{
    background-color: #fff;
}

.year-box, .month-box{
    transition: all ease .1s;
    font-family: 'Karla', sans-serif;
    flex: 1;
    text-align: center;
    font-size: 20px;
    line-height: 2;
    cursor: pointer;
    background-color: #fff;
}
.year-list, .month-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li{
        transition: all .45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        width: 33%;
        padding: 10px 0;
        &:hover{
            background-color: #FCD116;
            color: #fff;
        }
        &.selected{
            background-color: #FCD116;
            color: #fff;
        }
        &.invalid{
            cursor: not-allowed;
            color: #ccc;
        }
    }
}
.date-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .valid:hover{
        background-color: #eee;
    }
    li{
        transition: all ease .1s;
        cursor: pointer;
        box-sizing: border-box;
        border-bottom: 1px solid #fff;
        position: relative;
        margin: 2px 0;

        .message{
            font-family: 'Karla', sans-serif;
            font-weight: 300;
            font-size: 14px;
            position: relative;
            height: 0;
            padding-bottom: 100%;
            &.selected{
                .bg{
                    background-color: #FCD116;
                }
                span{
                    color: #fff;
                }
            }
            &:not(.selected){
                .bg{
                    transform: scale(0);
                    opacity: 0;
                }
                &:hover{
                    .bg{
                        background-color: #FCD116;
                        transform: scale(1);
                        opacity: .6;
                    }
                    span{
                        color: #fff;
                    }
                }
            }
            .bg{
                height: 0;
                padding-bottom: 100%;
                width: 100%;
                transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                border-radius: 50%;
                position: absolute;
                z-index: 10;
                top: 0;
                left: 0;
            }
            span{
                position: absolute;
                z-index: 20;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
        &.invalid{
            cursor: not-allowed;
            color: #ccc;
        }
    }
        
}
.weeks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li{
        font-weight: 600;
    }
}
.weeks, .date-list{
    width: 100%;
    text-align: center;
    .preMonth, .nextMonth {
        color: #ccc;
    }

    .disable {
        color: #ccc;
        .message {
            // $c-darkgrey-light
            background-color: #B6BABC;
        }
    }

    li{
        font-family: 'Karla', sans-serif;
        width: calc(100% / 7);
        height: 0;
        padding-bottom: calc(100% / 7);
        text-align: center;
        line-height: calc(100% / 7);
        padding-left: 5px;

        @media all and (min-width: $is-mobile) {
            padding-left: 10px;
        }   
    }
}
.weeks {
    li{
        padding-bottom: 15px;
    }
}
.toggle-enter, .toggle-leave-active{
    opacity: 0;
    transform: translateY(-10px);
}
.toggle-enter-active, .toggle-leave-active{
    transition: all ease .2s;
}
.fade-enter, .fade-leave-active{
    opacity: 0;
    transform: scale3d(0, 0, 0);
}
.fade-enter-active, .fade-leave-active{
    transition: all ease .1s;
}
