.content {
    width: 70%;
    @include absolutecenter;
    top: 20%;
    @media all and (max-width: $is-mobile) {
        width: 100%;
    }
}

.header-main {
    .background {
        > img {
            width: 100%;
        }
    }
}

#searchBarHomepage {
    width: 100%;
    @include absolutecenter;
    top: 15%;

    @media all and (min-width: $is-tablet) {
        width: 70%;
        top: 20%;
    }


    .searchbar {
        background-color: $c-neutral-white;

        .autocomplete-wrapper {
            height:3.25rem;

            > input {
                height: 3.25rem;
                font-size: 1.25rem;
            }
            .menu {
                top: 3.25rem;
            }
        }

        .searchBtn {
            height: 3.25rem;
        }

        > input {
            height: 3.25rem;
        }
    }
}


.content p, h1 {
    text-align: center;
}