.swiper-wrap {
    display: flex;

    & > div {
        align-items: stretch;
    }
}

.image-upload {
    position: relative;
    & > i {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        &:hover {
            cursor: pointer;
        }
    }
}