// for the overlay
#imageupload {
    position: relative;
}

.is-profile {
    .image-upload {
        padding-top: 100%;
    }
}

.image-upload {
    position: relative;
    width:100%;
    
    // maintain 16:9 ratio
    padding-top: 56.25%;

    .swiper {
        height: 100%;
        width: 100%;
        @extend .absolute-center-y;
    }

    .swipe-wrapper {
        @extend .absolute-center-y;
        width: 100%;
        height: 100%;
    }

    .removeImage{
        width: 35px;
        position: absolute;
        bottom: 3px;
        right: 3px;
        font-size: 2rem;
        height: 40px;
        color: $c-screen-black;

        &:hover {
            cursor: pointer;
            color: $c-brand-quaternary;
        }
    }
    /*& > i {
        position: absolute;
        top: auto;
        bottom: 80px;
        right: 0;
        font-size: 2rem;
        &:hover {
            cursor: pointer;
        }
    }*/
}