@mixin drop-shadow($params) {
    -moz-box-shadow: $params;
    -webkit-box-shadow: $params;
    box-shadow: $params;
}

.listing-wrapper {
    position: relative;
    overflow: auto;
    border: 2px solid #B6BABC;
    margin: 2px 5px;
    border-radius: 5px;
    @include drop-shadow(10px 10px 5px #888888);
}

.listing-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    .header-text {
        white-space: nowrap; 
        text-overflow: ellipsis; 
        -o-text-overflow: ellipsis;
         margin-left: 10px;
    }

    .listing-cost {
        display: inline-block;
        right: 0;
        position: absolute;
        padding: 5px;
        right: 0;
        top: -5px;
        border-radius: 2%;
        background-color: #41B8EC;
    }
}

.listing-content {
    position: relative;
    width: 100%;
}

.listing-description {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.listing-footer{
    .listing-header{
        display: inline-block;
        @include text-ellipsis;
    }
}