.listing-headertext {
    font-weight: 600;
    color: rgb(83, 83, 83);
    font-size: 22px;
}

.listing-main-content {
    hr {
        width: 83.33333%;
        margin-left: 16.66667%;

        @media all and (max-width: $is-mobile) {
            width: 100%;
            margin-left: 0;
        }
    }

    .is-2 {
        font-weight:500;
    }

    .control .icon {
        right: 10px !important;
        top: 10px;
    }
}

.cost {
    border: 5px solid $c-brand-quaternary;
    color: $c-brand-quaternary;
    margin-bottom: 10px;

    .price {
        font-size: $font-big;
        font-weight: bold;
        text-align: center;
    }
}

.listing-swiper {
    position: relative;
    min-width: 320px;
    width:100%;
    
    // maintain 16:9 ratio
    padding-top: 56.25%;

    .swiper {
        height: 100%;
        @extend .absolute-center-y;
    }

    .swipe-wrapper {
        @extend .absolute-center-y;
        width: 100%;
        height: 100%;
    }

    /*.swiper-slide {
        > div {
            width: 100%;
            @media all and (min-width: $is-desktop) {
                width: 290px;
            }

            @media all and (min-width: $is-tablet) {
                width: 290px;
            }
        }
    }*/
}