.conversation {
    margin-bottom: 10px;
    margin-top: 10px;

    .photo_wrapper{
        display: inline-block;
    }

    .text_wrapper{
        display: inline-block;
        vertical-align: top;
    }
}

.message-icon {
    width: 100%;
    
    > input {
        @media all and (min-width: $is-desktop) {
            padding-right: 150px !important;
        }
    }
    > button {
        position: absolute;
        top:0;
        right:0;
        height: 2.25em;
        margin-right:0;
        @media all and (min-width: $is-desktop) {
            width: 150px !important;
        }
    }

}

@mixin talk-bubble-base() {
	margin: 5px;
    display: inline-block;
    position: relative;
	width: 80%;
	height: auto;
	
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.talk-bubble-main {
    @include talk-bubble-base;
    margin-left: 20%;
    color: $c-screen-black;
    background-color: $c-lightgrey-light;
}

.talk-bubble {
    @include talk-bubble-base;
    background-color: $c-neutral-white;
}


/* talk bubble contents */
.talktext{
    padding: 1em;
	text-align: left;
    line-height: 1.5em;

    p {
        /* remove webkit p margins */
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
    }
}