.miniprofile-wrapper{
    display:inline-block;
    position:relative;
    width: 100%;

    &:hover {
        background-color:  $c-lightgrey-light;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .overlay{
        width: 100%; 
        height: 100%; 
        z-index: 10; 
        position:absolute;
        color: $c-screen-black;;

        &:hover {
            cursor:pointer;
            color: $c-brand-quaternary;
        }

        span {
            right: 3px;
            font-size: 1.5em;
            @include absolutecenter("y");
        }

        p {
            right: 3px;
            @include absolutecenter("y");
        }
    }

    .photo_wrapper {
        width: 50px;
        height: 50px;
        display: inline-block;   
        vertical-align: top;

        img {
            width: 50px;
            height: 50px;
        }
    }

    .text_wrapper {
        display: inline-block; 
        vertical-align: top;
         
        span {
            max-width: 265px;
            overflow: hidden;
            display: block;

            @media all and (min-width: $is-tablet) {
                max-width: 350px;
            }

            @media all and (min-width: $is-desktop) {
                max-width: 700px;
            }
        }

        div {
            margin-top: 5px;
        }
    }
}
