.modal-body { 
    background-color: white;
    padding: 20px;
    display: flex;
    flex: 1;
}

.modal-close{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    z-index: 20;

    &:hover {
        opacity: 1;
    }

    &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 3px;
        background-color: #333;
    }

    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}


.close {
  position: absolute;

}
.close:before, .close:after {
  

}


.modal-wrapper {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: auto;
    position: fixed;
    z-index: 20;
    margin-top: calc(-50vh);

    &.is-active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        @include fade-in-down;
    }
    &.is-deactive {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        @include fade-out-up;
    }
}

.modal-card-content {

}

.modal-container {
  width: 300px;
  background-color: #ffffff !important;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-flex: 1 !important;
  -ms-flex: 1 !important;
  flex: 1 !important;
  width: 100% !important;
  margin: 100px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
