/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}



.g-signin-button, .fb-signin-button {
    /* This is where you control how the button looks. Be creative! */
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    border: 2px solid #767676;
    vertical-align: middle;

    &:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 100%;
    }

    &:active {
      box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }

    &:hover, &:focus {
        cursor: pointer;
    }
}

/* Facebook */
.fb-signin-button {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
    color: #FFF;

    &:before {
      border-right: #364e92 1px solid;
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
    }
}

/* Google */
.g-signin-button {
    color: $c-neutral-black;

    &:before {
        margin-top: 2px;
        background: url('/static/images/google_logo.png') 6px 6px no-repeat;
    }
}


$nav-bar-height: 50px;

.nav-bar {
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    width: 100%;    

    /*background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -o-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));*/

    border-top: 5px solid $c-brand-primary;

    &__logo {
        position: absolute;
        background-image: url("/static/images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 30px;
        height: 30px;
        @include absolutecenter;
        top: 25px;
        @media all and (min-width: $is-tablet) {
            float: left;
            left: 2%;
            //background-color: $c-neutral-black;
        }
    }

    &.is-sticky {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 101;
        //background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 2));
        background-color: $c-neutral-white;
        border-bottom: 1px solid #e4e4e4 !important;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) !important;

        .nav-link {
            > a {
                color: $c-screen-black;
                font-weight: bold;
            }
        }
    }

    .nav-link {
        margin: 0 10px;

        @media all and (max-width: $is-desktop) {
            margin: 0px 5px;
        }

        > a {
            color: $c-neutral-white;
            font-weight: bold;

            &:hover {
                padding-bottom: 7px;
                border-bottom: 3px solid $c-brand-quaternary;
            }
        }
    }

    .second-search-bar {
        margin-left: 65px;
    }
}