/*li .glyphicon {
    margin-right: 10px;
}

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7 !important;
    color: white !important;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .main-nav {
        background-color: transparent;
        border-color: #080808;
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: left;
        font-size: 15px;
        margin: 6px;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}*/


.g-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #3c82f7;
  color: #fff;
  box-shadow: 0 3px 0 #0f69ff;
}

.fb-signin-button {
  /* This is where you control how the button looks. Be creative! */
  display: inline-block;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: #4267b2;
  color: #fff;
}

$nav-bar-height: 50px;

.nav-bar {
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    width: 100%;    

    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Safari */
    background: -o-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Opera */
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Firefox */
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Standard syntax */

    border-top: 5px solid $c-brand-green;

    &__logo {
        position: absolute;
        background-image: url("/static/images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 30px;
        height: 30px;
        @include ctr;
        top: 25px;
    }

    &__toggle {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        position: relative;
        float:left;
        margin-top: 15px;
        margin-left: 5px;
        font-size: 10px;
        font-weight: bold;
        user-select: none;
        //color: white;
        //padding: 13px 14px;
        //height: $nav-bar-height;

        // &:hover {
        //     // background: #2d2f30;
        // }

    }

    &__menu {
        position: relative;
        float: right;
        z-index: 11;
        @media all and (max-width: $bp-small-max-width) {
            background-color: $c-neutral-black;
        }
        ul {
            margin: 0;
            padding: 0;
            width: 100%;
            display: block;
            list-style: none;
        }
    }

    &__menu-item-link {
        color: $c-neutral-white;
        text-decoration: none;
        width: 100%;
        float: left;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        display: block;
        .new-search-bar & { // FIX: temporary until the new search bar and rebrand is rolled out
            font-size: 15px;
            text-transform: none;
        }
    }

    &.is-sticky {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 101;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 2));
    }
}