$nav-bar-height: 50px;

.nav-bar {
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    width: 100%;    

    /*background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -o-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));*/

    border-top: 5px solid $c-brand-primary;

    &__logo {
        position: absolute;
        background-image: url("/static/images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 170px;
        height: 40px;
        /*@media all and (max-width: $is-tablet) {
            @include absolutecenter;
        }

        @media all and (min-width: $is-tablet) {
            float: left;
            
            
        }*/
    }

    &.is-sticky {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 11;
        //background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 2));
        background-color: $c-neutral-white;
        border-bottom: 1px solid #e4e4e4 !important;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) !important;

        .nav-link {
            > a {
                color: $c-screen-black;
                font-weight: bold;
            }
        }
    }

    .nav-link {
        margin: 0 10px;

        @media all and (max-width: $is-desktop) {
            margin: 0px 5px;
        }

        > a {
            color: $c-neutral-white;
            font-weight: bold;

            &:hover {
                padding-bottom: 7px;
                border-bottom: 3px solid $c-brand-quaternary;
            }
        }
    }

    .second-search-bar {
        margin-left: 170px;
    }

    .mtl_button {
        min-width: 80px;
    }
}

#popupUserMenu {
    position: fixed;
    right: 10px;
    top: 62px;
    min-width: 200px;
    background: $c-neutral-white;
    color: #535353;
    -webkit-box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);
    &:before {
        @include triangle(up,10px, white);
        right:-5px;
        box-sizing: border-box;
        border: 8px solid black;
        border-color: transparent transparent white white;
        transform-origin: 0 0;
        transform: rotate(135deg);
        box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.2);
    }
    

    li {
        a {
            white-space: nowrap;
            margin: 0 10px;
            color: #535353;
            line-height: 3;
            display:block;

            &:hover {
                border-bottom: 3px solid #E74C3C;
            }
        }

        hr {
            margin: 0;
        }
    }
}