.page-content {
    &.is-profile {
        width: 100%;
        @media all and (min-width: $is-desktop) {
            width: 92%;
        }
    }
}

.profile-content{
    .profile-section {
        width: 100%;

        .message {
            max-height: 500px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    .router-link-exact-active {
        background: $c-darkgrey;
        color: $c-neutral-white;
    }

    .profile-menu {
        @media all and (max-width: $is-mobile) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    
    .userdetail {
        hr {
            width: 75%;
            margin-left: 25%;

            @media all and (max-width: $is-mobile) {
                width: 100%;
                margin-left: 0;
            }
        }

        .icon {
            .glyphicon {
                right: 10px;
                top: 10px;
            }
        }

        &_heroimage {
            background-image: linear-gradient(-135deg,#70e1f5,#ffd194);
            height: 320px;
        }
    }

    .trip-content {
        > ul > li {
            width:100%;
            display: flex;
            overflow: hidden;

            @media all and (min-width: $is-desktop) {
                width:290px;
            }
        }
    }
}