.profile-content{
    .profile-section {
        width: 100%;

        .message {
            max-height: 500px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    .router-link-exact-active {
        background: $c-darkgrey;
        color: $c-neutral-white;
    }

    .profile-menu {
        @media all and (max-width: $is-mobile) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    
    .userdetail {
        hr {
            width: 75%;
            margin-left: 25%;

            @media all and (max-width: $is-mobile) {
                width: 100%;
                margin-left: 0;
            }
        }

        .icon {
            right: 10px !important;
            top: 10px;
        }

        &_heroimage, &_profileimage {
            background-image: linear-gradient(-135deg,#70e1f5,#ffd194);
            overflow: hidden;
            position: relative;

            &:hover i {
                display: flex;
            }

            i {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;

                @media all and (min-width: $is-desktop) {
                    display: none;
                }

            }

            figure {
                width: 100%;
            }
        }

        &_heroimage {
            max-height: 370px;
        }

        &_profileimage {
            max-width: 170px;
            height: 0;
            @media all and (max-width: $is-mobile) {
                @include absolutecenter("both","relative");
                width: 35%;
            }
        }
    }

    .trip-content {
        > ul > li {
            width:100%;
            display: flex;
            overflow: hidden;

            @media all and (min-width: $is-desktop) {
                width:290px;
            }
        }
    }

    .is-profile {
        width: 100%;
    }
}