.box-header-strip {
    background-color: $c-lightgrey-light;
    width: calc(100% + 40px);
    height: 10px;
    position: relative;
    top: -20px;
    left: -20px;
    border-radius: 5px 5px 0 0;
}

.is-sticky-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    >button{
        height: 2.25rem;
    }

    @media all and (min-width: $is-mobile) {
        position:relative;
    }
}

.is-sticky-box {
    position: fixed;
    top: 59px;
    right: 10%;
    z-index: 10;
    width: calc(80% / 3);
}


.is-circle {
    border-radius: 50%;

    &:hover {
        box-shadow: 0 0 10px grey;
    }
}

.icon-btn {
    background-color: $c-neutral-white;
    color: $c-screen-black;
    font-size: 1.5em;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1rem rgba(0,0,0,.06), 0 0.2rem 0.3rem rgba(0,0,0,.06);
    transition: box-shadow .2s ease-out,color .2s ease-out;
}

.page-content {
    width: 100%;
    top: $size-header-height;
    margin-bottom: $size-header-height !important;
    margin-left: auto;
    margin-right: auto;

    @media all and (min-width: $is-tablet) {
        top: 0;
        width:80%;
        max-width: $is-widescreen;
    }
}

.loading-screen {
    background-color: $c-primary-modal-background;
    z-index: 100;
}

.columns {
    .column.is-2, .column.is-3 {
        font-weight: 700;
    }
}

.tile.is-4, .tile.is-3, .tile.is-2 {
    font-weight: 700;
    align-items: center;
    justify-content: flex-start;
}

input[type="checkbox"] {
    border-color: #b8b8bd;
    border-width: .2rem;
    border-radius: .3rem;
}