.box-header-strip {
    background-color: $c-brand-secondary;
    width: calc(100% + 40px);
    height: 10px;
    position: relative;
    top: -20px;
    left: -20px;
    border-radius: 5px 5px 0 0;
}

.is-sticky-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
    >button{
        height: 2rem;
    }

    @media all and (min-width: $is-mobile) {
        position:relative;
    }
}

.is-sticky-box {
    position: fixed;
    top: 59px;
    right: 10%;
    z-index: 10;
    width: calc(80% / 3);
}


.is-circle {
    border-radius: 50%;
}

.page-content {
    width: 100%;
    top: $size-header-height;
    margin-bottom: $size-header-height !important;
    margin-left: auto;
    margin-right: auto;

    @media all and (min-width: $is-tablet) {
        top: 0;
        width:80%;
        max-width: $is-widescreen;
    }
}

.loading-screen {
    background-color: $c-primary-modal-background;
    z-index: 100;
}