.swipe-main {
    position:relative;
}
.swiper {
  position: relative;
  overflow: hidden;

  .swiper-wrap {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    transition: all 0ms ease;

    > div {
      display: flex;
      overflow: hidden;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-self: center;


    }
  }

  &.horizontal .swiper-wrap {
    flex-direction: row;
  }

  &.vertical .swiper-wrap {
    flex-direction: column;
  }

  .swiper-pagination {
    position: absolute;

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #000000;
      opacity: .2;
      transition: all .5s ease;
    }

    .swiper-pagination-bullet.active {
      background: #007aff;
      opacity: 1;
    }

    .swiper-pagination-bullet:hover {
        cursor: pointer;
    }
  }

  &.vertical .swiper-pagination {
    right: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    .swiper-pagination-bullet {
      display: block;
      margin: 6px 0;
    }
  }

  &.horizontal .swiper-pagination {
    bottom: 10px;
    width: 100%;
    text-align: center;

    .swiper-pagination-bullet {
      display: inline-block;
      margin: 0 3px;
    }
  }
}

.slide-button {
    @extend .absolute-center-y;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    width: 50px;
    height: 50px;
    z-index:1;
    background-color: $c-neutral-white;
    box-shadow: 0px 1px 6px #666;

    &:hover {
        box-shadow: 0px 1px 6px $c-brand-secondary;
        color: $c-brand-secondary;
    }

    & .glyphicon {
        font-size: 1.4em;
        margin-left: 14px;
        margin-top: 12px;
    }
}

.slide-button-prev{
    @extend .slide-button;
    left: -23px;
}
    
.slide-button-next{
    @extend .slide-button;
    right: -19px;
}