<form [formGroup]="model">
    <div class="form-group">
        <label>Participant</label>
        <tourparticipant [participantType]="'Host'" [users]="this.model.controls.guests.value"></tourparticipant>
    </div>
    <div class="form-group">
        <label>When</label>
        <my-date-picker id="beginDate" [options]="beginDatePickerOptions" (dateChanged)="onBeginDateChanged($event)" formControlName="startDate"></my-date-picker>
        <my-date-picker id="endDate" [options]="endDatePickerOptions" formControlName="endDate"></my-date-picker>
    </div>
    <div class="form-group">
        <label for="location">Where</label>
        <kpx-autocomplete [min-chars]="2" formControlName="locationId" [search-data]="searchLocations" (onSearch)="onLocationSearch($event)"></kpx-autocomplete>

        <div class="alert alert-danger" *ngIf="model.get('locationId').hasError('required') && model.get('locationId').touched">
            Location is required
        </div>

    </div>
    <div class="form-group">
        <label for="budget">Budget</label>
        <input type="text" class="form-control" id="budget" placeholder="Your budget" formControlName="cost">

        <div class="alert alert-danger" *ngIf="model.get('cost').hasError('required') && model.get('cost').touched">
            Budget is required
        </div>

    </div>
    <div class="form-group">
        <label for="header">Short description</label>
        <textarea type="text" class="form-control" id="header"
                  placeholder="Short description which will appear in as a listing header"
                  formControlName="header" cols="40" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="expectation">What do you want to do</label>
        <textarea type="text" class="form-control" id="expectation"
                  placeholder="Detail description of the event"
                  formControlName="description" cols="40" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="participants">Minimum participants</label>
        <select id="participants" class="form-control" formControlName="minParticipant">
            <option value="0" selected="selected">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
    <input type="button" (click)="onInsert()" class="btn btn-success" value="Add Tour Request" [disabled]="model.invalid" *ngIf="isNew"/>
    <input type="button" (click)="onUpdate()" class="btn btn-success" value="Update" [disabled]="model.invalid" *ngIf="!isNew">
</form>