<modalframe>
    <div class="app-modal-header">
        header
    </div>
    <div class="app-modal-body">
        <div [hidden]="submitted">
            <h1>Hero Form</h1>
            <form (ngSubmit)="onRegistration(model)" [formGroup]="model">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" id="email"
                            placeholder="Your email address"
                            formControlName="Email">

                    <div *ngIf="formErrors.Email" class="alert alert-danger">
                        {{ formErrors.Email }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password"
                           placeholder="Your password"
                           formControlName="Password">

                    <div class="alert alert-danger" *ngIf="model.get('Password').hasError('required') && model.get('Password').touched">
                        Password is required
                    </div>
                    <div class="alert alert-danger" *ngIf="model.get('Password').hasError('minlength') && model.get('Password').touched">
                        Minimum of 7 characters
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName"
                           placeholder="Your first name"
                           formControlName="FirstName">
                    <div class="alert alert-danger" *ngIf="model.get('FirstName').hasError('required') && model.get('FirstName').touched">
                        Name is required
                    </div>
                    <div class="alert alert-danger" *ngIf="model.get('FirstName').hasError('minlength') && model.get('FirstName').touched">
                        Minimum of 2 characters
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName"
                           placeholder="Your last name"
                           formControlName="LastName">
                    <div class="alert alert-danger" *ngIf="model.get('LastName').hasError('required') && model.get('LastName').touched">
                        Name is required
                    </div>
                    <div class="alert alert-danger" *ngIf="model.get('LastName').hasError('minlength') && model.get('LastName').touched">
                        Minimum of 2 characters
                    </div>
                </div>
                <div class="form-group">
                    <label for="location">Origin location</label>
                    <ng2-completer id="location"
                                   placeholder="Your origin location"
                                   formControlName="Location" [(ngModel)]="searchStr" [dataService]="dataService" [minSearchLength]="2"
                                   [textSearching]="'Please wait...'" [overrideSuggested]="true"></ng2-completer>

                    <div class="alert alert-danger" *ngIf="model.get('Location').hasError('required') && model.get('Location').touched">
                        Location is required
                    </div>
                    <div class="alert alert-danger" *ngIf="model.get('Location').hasError('minlength') && model.get('Location').touched">
                        Minimum of 2 characters
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber"
                           placeholder="Your phone number"
                           formControlName="Phone">
                    <div class="alert alert-danger" *ngIf="model.get('Phone').hasError('required') && model.get('Phone').touched">
                        Name is required
                    </div>
                    <div class="alert alert-danger" *ngIf="model.get('Phone').hasError('minlength') && model.get('Phone').touched">
                        Minimum of 2 characters
                    </div>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="model.invalid">Submit</button>
                <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
            </form>
        </div>
        <div [hidden]="!submitted">
            <h2>You submitted the following:</h2>
            <div class="row">
                <div class="col-xs-3">Fisrt Name</div>
                <div class="col-xs-9  pull-left">{{ model.value.firstName }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Name</div>
                <div class="col-xs-9  pull-left">{{ model.value.lastName }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Location</div>
                <div class="col-xs-9  pull-left">{{ model.value.location }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Email Address</div>
                <div class="col-xs-9 pull-left">{{ model.value.email }}</div>
            </div>
            <div class="row">
                <div class="col-xs-3">Phone Number</div>
                <div class="col-xs-9 pull-left">{{ model.value.phone }}</div>
            </div>
            <br>
            <button class="btn btn-primary" (click)="submitted=false">Edit</button>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</modalframe>