<div [id]="userId">
    <div class="photo_wrapper">
        <a [href]="profileUrl" target="_blank">
            <img class="profile_photo_img" [src]="profileImageUrl" width="50"  height="50" [alt]="fullName">
        </a>
    </div>
    <div class="text_wrapper">
        <div class="feed_item_answer_user">
            <a class="user" [href]="profileUrl" target="_blank">{{fullName}}</a>
        </div>
        <div>
            <span class="IdentityNameCredential ActorNameCredential">{{shortDescription}}</span>
        </div>
    </div>
</div>