<div class="sliderWrapper">
    <div class="slide-button-prev" (click)="onPrev($event)">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </div>
    <swiper #swiper [config]="config" [initialize]="initializeSwiper">
        <div class="swiper-wrapper">
            <figure class="swiper-slide" *ngFor="let slide of slides">
                <img [src]="slide.imgSrc" />
                <figcaption>{{slide.text}}</figcaption>
            </figure>
        </div>
    </swiper>
    <div class="slide-button-next" (click)="onNext($event)">
        <i class="glyphicon glyphicon-chevron-right"></i>
    </div>
</div>