$Avenir-Light: "AvenirNextLTPro-Light", sans-serif;
$Avenir-Regular: "AvenirNextLTPro-Regular", sans-serif;
$Avenir-Demi: "AvenirNextLTPro-Demi", sans-serif;
$Avenir-Medium: "AvenirNextLTPro-Medium", sans-serif;
$Avenir-Bold: "AvenirNextLTPro-Bold", sans-serif;

/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('/asset/fonts/Avenir/2D1948_0_0.eot');
  src: url('/asset/fonts/Avenir/2D1948_0_0.eot?#iefix') format('embedded-opentype'),
        url('/asset/fonts/Avenir/2D1948_0_0.woff2') format('woff2'),
        url('/asset/fonts/Avenir/2D1948_0_0.woff') format('woff'),
        url('/asset/fonts/Avenir/2D1948_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Note: This isthe AvenirNextLTPro-Demi font, but since we use it as bolding for regular It is called AvenirNextLTPro-Regular*/
@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('/asset/fonts/Avenir/2D1948_1_0.eot');
  src: url('/asset/fonts/Avenir/2D1948_1_0.eot?#iefix') format('embedded-opentype'),
        url('/asset/fonts/Avenir/2D1948_1_0.woff2') format('woff2'),
        url('/asset/fonts/Avenir/2D1948_1_0.woff') format('woff'),
        url('/asset/fonts/Avenir/2D1948_1_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
/* THIS appear like Demi - lighter than 'AvenirNextLTPro-Medium' */
@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('/asset/fonts/Avenir/2D6007_0_0.eot');
  src: url('/asset/fonts/Avenir/2D6007_0_0.eot?#iefix') format('embedded-opentype'),
        url('/asset/fonts/Avenir/2D6007_0_0.woff2') format('woff2'),
        url('/asset/fonts/Avenir/2D6007_0_0.woff') format('woff'),
        url('/asset/fonts/Avenir/2D6007_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Note: This isthe AvenirNextLTPro-Demi font, but since we use it as bolding for medium It is called AvenirNextLTPro-Medium*/
@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('/asset/fonts/Avenir/2D1948_1_0.eot');
  src: url('/asset/fonts/Avenir/2D1948_1_0.eot?#iefix') format('embedded-opentype'),
        url('/asset/fonts/Avenir/2D1948_1_0.woff2') format('woff2'),
        url('/asset/fonts/Avenir/2D1948_1_0.woff') format('woff'),
        url('/asset/fonts/Avenir/2D1948_1_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('/asset/fonts/Avenir/2D1948_3_0.eot');
  src: url('/asset/fonts/Avenir/2D1948_3_0.eot?#iefix') format('embedded-opentype'),
        url('/asset/fonts/Avenir/2D1948_3_0.woff2') format('woff2'),
        url('/asset/fonts/Avenir/2D1948_3_0.woff') format('woff'),
        url('/asset/fonts/Avenir/2D1948_3_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-Light';
    src: url('/asset/fonts/Avenir/2D1948_4_0.eot');
    src: url('/asset/fonts/Avenir/2D1948_4_0.eot?#iefix') format('embedded-opentype'),
    url('/asset/fonts/Avenir/2D1948_4_0.woff2') format('woff2'),
    url('/asset/fonts/Avenir/2D1948_4_0.woff') format('woff'),
    url('/asset/fonts/Avenir/2D1948_4_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}