<form (ngSubmit)="onRegistration(model)" [formGroup]="model">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
                placeholder="Your email address"
                formControlName="email">

        <div *ngIf="formErrors.email" class="alert alert-danger">
            {{ formErrors.email }}
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password"
                placeholder="Your password"
                formControlName="password">

        <div class="alert alert-danger" *ngIf="model.get('password').hasError('required') && model.get('password').touched">
            Password is required
        </div>
        <div class="alert alert-danger" *ngIf="model.get('password').hasError('minlength') && model.get('password').touched">
            Minimum of 7 characters
        </div>
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"
                placeholder="Your first name"
                formControlName="firstName">
        <div class="alert alert-danger" *ngIf="model.get('firstName').hasError('required') && model.get('firstName').touched">
            Name is required
        </div>
        <div class="alert alert-danger" *ngIf="model.get('firstName').hasError('minlength') && model.get('firstName').touched">
            Minimum of 2 characters
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName"
                placeholder="Your last name"
                formControlName="lastName">
        <div class="alert alert-danger" *ngIf="model.get('lastName').hasError('required') && model.get('lastName').touched">
            Name is required
        </div>
        <div class="alert alert-danger" *ngIf="model.get('lastName').hasError('minlength') && model.get('lastName').touched">
            Minimum of 2 characters
        </div>
    </div>
    <div class="form-group">
        <label for="location">Hometown</label>
        <kpx-autocomplete [min-chars]="2" formControlName="locationId" [search-data]="searchLocations" (onSearch)="onLocationSearch($event)"></kpx-autocomplete>

        <div class="alert alert-danger" *ngIf="model.get('locationId').hasError('required') && model.get('locationId').touched">
            Location is required
        </div>
        <div class="alert alert-danger" *ngIf="model.get('locationId').hasError('minlength') && model.get('locationId').touched">
            Minimum of 2 characters
        </div>
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber"
                placeholder="Your phone number"
                formControlName="phone">
        <div class="alert alert-danger" *ngIf="model.get('phone').hasError('required') && model.get('phone').touched">
            Name is required
        </div>
        <div class="alert alert-danger" *ngIf="model.get('phone').hasError('minlength') && model.get('phone').touched">
            Minimum of 2 characters
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="model.invalid">Submit</button>
</form>
