<div class='main-nav'>
    <div class='navbar'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/map']">
                        <span class='glyphicon glyphicon-th-list'></span> Map
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/tourdetail']">
                        <span class='glyphicon glyphicon-th-list'></span> Tour Detail
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/test']" (click)="onTest()">
                        <span class='glyphicon glyphicon-th-list'></span> Test
                    </a>
                </li>
                <li *ngIf="!isLoggedin" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']" (click)="loginModal.show()">
                        <span class='glyphicon glyphicon-th-list'></span> Log in
                    </a>
                </li>
                <li *ngIf="!isLoggedin" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/register']" (click)="registerModal.show()">
                        <span class='glyphicon glyphicon-th-list'></span> Register
                    </a>
                </li>

                <li *ngIf="isLoggedin" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/profile']">
                        <span class='glyphicon glyphicon-th-list'></span> Hi {{name}}
                    </a>
                </li>

                <li *ngIf="isLoggedin" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/logout']" (click)="onLogout()">
                        <span class='glyphicon glyphicon-th-list'></span> Log out
                    </a>
                </li>
            </ul>
    </div>
    
</div>
<registrationform></registrationform>
<loginform (isLoggedIn)="handleLoggedIn($event)"></loginform>