<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
      <title> Bodom vuejs-typescript-aspnetcore-sample</title>

      <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css" type="text/css"/>-->    
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
      <meta name="theme-color" content="#99CD4E">
      
      <script type="text/javascript" charset="UTF-8" src="/static/script/jsencrypt.min.js"></script>
      <script type="text/javascript" charset="UTF-8" src="https://apis.google.com/js/api:client.js"></script>
      
      <!--<% for (var chunk of webpack.chunks) {
      for (var file of chunk.files) {
      if (file.match(/\.(js|css)$/)) { %>
      <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>-->

      <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '258898767921654',
              cookie     : true,
              xfbml      : true,
              version    : 'v2.8'
            });
            FB.AppEvents.logPageView();
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));



          //FB.getLoginStatus(function (response) {
          //    statusChangeCallback(response);
          //});
      </script>
  </head>
    <body>
<!--vue-ssr-outlet-->
    </body>
</html>
