@mixin button-bg($bg) {
  background: $bg !important;
  &:hover, 
  &:focus {
    background:darken($bg,8%);
    transition: all $transition-standard;
  }
  &:active {
    background:darken($bg,25%);
  } 
}