@mixin button-bg($bg) {
    background-color: $bg;
    color: $c-neutral-white;
    text-align: center;
     
    &:hover {
        background-color: transparent;
        color: $c-brand-primary;
        box-shadow: 0 0 0 1px $c-brand-primary, 0 0 0 1px $c-brand-primary;
        //background-color:darken($bg,8%);
        transition: all $transition-standard;
        //color:darken($c-neutral-white,8%);
    }
}

@mixin button-round-border-all() {
    border-radius: 35px 35px;
}

@mixin button-round-border-left() {
    border-radius: 35px 0 0 35px;
}

@mixin button-round-border-right() {
    border-radius: 0 35px 35px 0;
}
